* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: url("slike/oblaci.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(255, 97, 0);
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 30px;
}

ul li {
    background-color: white;
    color: blue;
    border-right: 1px solid rgb(255, 97, 0);
    padding: 20px 80px;
}

.trenutna {
    background-color: rgb(255, 97, 0);   
}

a {
    text-decoration: none;
}

.trenutna a {
    color: white;
}

.container {
    margin: 30px auto;
    background-color: white;
    width: 35%;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    padding-top: 40px;  
}

label, select {
    margin-bottom: 40px;
}

iframe {
   width: 70%;
   height: 600px;
}

footer {
    color:rgb(255, 97, 0);
    text-align: center;
}

/*prozor stilovi*/
body#prozor {
    background: none;
    background-color: rgb(255, 97, 0);
}

#naslov {
    margin-top: 15px;
    text-align: center;
    color: white;
}

.opis {   
    text-align: center;
    margin-top: 10px;
}